<div
  fxLayout="column"
  fxLayoutAling="center center"
  fxLayoutGap="16px"
  class="padding page-body"
>
  <div role="banner" fxFlexOffset="16px">
    <span class="header" fxLayout="row" fxLayoutAlign="center center">
      To Do App
    </span>
  </div>

  <div class="content" role="main" fxLayout="column" fxLayoutGap="8px">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="padding"
      fxLayoutGap="8px"
    >
      <mat-form-field fxFlex="40">
        <mat-label> Add Task </mat-label>
        <input
          matInput
          [formControl]="task"
          placeholder="Add Task"
          (keyup.enter)="AddTask()"
        />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="reset()">Reset</button>
    </div>

    <div *ngIf="keywords.length">
      <mat-chip-list
        aria-label="hash tag keywords"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        fxLayoutGap="8px"
      >
        <mat-chip
          *ngFor="let key of keywords; let index = i"
          [ngClass]="{
            selected: highlightKeyword(key),
            notSelected: !highlightKeyword(key)
          }"
          (click)="onSelectedKeyword(key)"
          [removable]="removable"
          (removed)="removeKeyword(key)"
        >
          {{ key }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
      <mat-card
        *ngFor="let task of tasks; let index = i"
        mat-elevation-z4
        class="todo-card"
        fxLayoutGap="8px"
        (click)="onComplete(task)"
        style="cursor: pointer"
      >
        <ng-container
          *ngTemplateOutlet="todoCardTemplate; context: { task: task }"
        >
        </ng-container>
      </mat-card>

      <mat-card
        *ngFor="let task of completedTasks; let index = i"
        fxLayoutGap="8px"
        class="todo-card"
        mat-elevation-z4
      >
        <ng-container
          *ngTemplateOutlet="todoCardTemplate; context: { task: task }"
        >
        </ng-container>
      </mat-card>
    </div>
    <footer></footer>
  </div>
</div>
<router-outlet></router-outlet>

<ng-template #todoCardTemplate let-task="task">
  <mat-card-content style="min-height: 50px">
    <div fxLayout="row" fxFlex="grow" fxLayoutAlign="start center">
      <img
        fxFlex="noshrink"
        *ngIf="!task.isCompleted"
        fxLayoutAlign="center center"
        class="img-icon"
        src="assets/icons/pending.jpg"
      />

      <img
        fxFlex="noshrink"
        *ngIf="task.isCompleted"
        fxLayoutAlign="center center"
        class="img-icon"
        style="padding: 5px"
        src="assets/icons/completed.jpg"
      />

      <div fxLayout="column" fxFlex="90" fxLayoutGap="4px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <span
            class="card-content truncate"
            [innerHTML]="highlight(task.name)"
          ></span>
          <div fxLayout="row" fxLayoutGap="4px">
            <button
              mat-icon-button
              (click)="onUpdate($event, task)"
              *ngIf="!task.isCompleted"
            >
              <mat-icon class="icon">edit</mat-icon>
            </button>

            <button mat-icon-button (click)="onDelete($event, task)">
              <mat-icon class="icon">delete</mat-icon>
            </button>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between start" fxFlex="grow">
          <span *ngIf="!task.isCompleted" class="orange-color flag"
            >Pending</span
          >
          <span *ngIf="task.isCompleted" class="green-color flag"
            >Completed</span
          >
        </div>
      </div>
    </div>
  </mat-card-content>
</ng-template>
